body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background: #f8f9fa url('https://png.pngtree.com/background/20220723/original/pngtree-background-biru-keren-dan-kosong-abstract-untuk-template-desain-powerpoint-ppt-picture-image_1738466.jpg') no-repeat center center fixed; 
    background-size: cover; 
    color: #343a40;
    line-height: 1.6;
}

h1, h2, h3, h4 {
    color: #4CAF50; 
}

p {
    font-weight: bold; /* Use 'bold' or a numeric value like 700 for thicker text */
}

.introduction, .featured-resources, .categories, .about-us, .our-mission, .contact-us {
    border: 2px solid blue; 
    padding: 10px; 
    margin-bottom: 20px;
}

.btn-primary {
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3; /* Darker shade */
}

.border-section {
    border: 1px solid #dee2e6; 
    border-radius: 8px;
    padding: 20px; 
    margin-bottom: 30px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#featured-resources img {
    transition: transform 0.3s ease;
}

#featured-resources img:hover {
    transform: scale(1.05);
}

@media (max-width: 576px) {
    .navbar-nav {
        text-align: center;
    }
}